
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

/* CSS Preset */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

/* Mobile first */
body {
    font-family: 'Space Mono', monospace;
   
}
 .container {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    max-width: 350px;
    max-height: 950px;

    margin-top: 4em;
}

.title-div {
    text-transform: uppercase;
    text-align: left;
    width: 100%; /* by default, flex is centering the title-div, so use width=100% to stretch the div */
    margin-left: 2.4em;
}

.content {
    padding: 1.5em;

}

h1{
    font-size: 2rem; /* 36px */
    font-weight: 700;
    letter-spacing: -0.03rem;
    margin-bottom: 1em;
} 
 p {
    font-size: 1.125rem;
    line-height: 27px;
    margin-bottom: 2em;
    font-weight: 400;
    color: #4F4F4F;
}
.image {
    max-width: 300px;
    max-height: 238px;
    padding: 2em;
}

.button {
    font-size: 0.875rem;
    padding: 1em 2em;
    background-color: black;
    color: whitesmoke;
    text-transform: uppercase;
    border: none;
    font-family: inherit;
}  


@media(min-width:900px ) {

    .container{
         
        max-width: 1440px;
        max-height: 1020px;
        display: flex;
        
       
    }

    .main-div {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        
    }

    h1 {
        max-width: 586px;
        min-height: 190px;
        font-size: 4rem; /* 64px*/
    }

    p{

        max-width: 381px;
        min-height: 108px;
        font-size: 1.5rem;
        font-weight: 400;
        color:#4F4F4F;
    }

    .button{
        width: 216px;
        height: 68px;
    }

    .image {
        max-width: 540px;
        max-height: 447px;
        
    }

    .title-div {
         
        width: 85%;
      
    }

} 